<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}"
>
  <head>
    <title th:text="${user.name} + '\'s Reset Password | SyncBox'">
      Reset Password | SyncBox
    </title>
  </head>
  <body>
    <div
      id="content"
      class="bg-white dark:bg-gray-900 p-8 border-2 w-full cm:w-[75%] m-auto border-gray-200 dark:border-gray-700 mt-14 rounded-lg"
    >
      <!-- Header Section -->
      <div class="flex flex-col justify-center items-center mb-8">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white">
          Reset Password
        </h2>
        <p class="text-center text-gray-400 dark:text-gray-500 font-medium">
          Update your password to ensure your account is secure.
        </p>
      </div>

      <div class="grid grid-cols-8">
        <div class="col-span-1"></div>
        <div class="col-span-8 cm:col-span-6">
          <!-- Reset Password Form -->
          <form
            th:object="${resetPassword}"
            th:action="@{/user/reset-password}"
            method="POST"
          >
            <div class="grid grid-cols-1 gap-6">
              <!-- Current Password -->
              <div class="relative">
                <label
                  for="current-password"
                  class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                >
                  Current Password
                </label>
                <input
                  type="password"
                  id="current-password"
                  th:field="*{currentPassword}"
                  placeholder="Enter current password"
                  class="mt-1 block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                  required
                />
                <i
                  class="absolute top-9 right-3 text-gray-500 cursor-pointer fa-solid fa-eye"
                  onclick="togglePasswordVisibility('current-password', this)"
                ></i>
                <p
                  th:if="${#fields.hasErrors('currentPassword')}"
                  th:errors="*{currentPassword}"
                  class="text-sm px-1 text-red-600 dark:text-red-500"
                ></p>
              </div>

              <!-- New Password -->
              <div class="relative">
                <label
                  for="new-password"
                  class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                >
                  New Password
                </label>
                <input
                  type="password"
                  id="password"
                  th:field="*{password}"
                  placeholder="Enter new password"
                  class="mt-1 block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                  required
                />
                <i
                  class="absolute top-9 right-3 text-gray-500 cursor-pointer fa-solid fa-eye"
                  onclick="togglePasswordVisibility('password', this)"
                ></i>
                <p
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="text-sm px-1 text-red-600 dark:text-red-500"
                ></p>
              </div>

              <!-- Confirm New Password -->
              <div class="relative">
                <label
                  for="confirmPassword"
                  class="block text-sm font-medium text-gray-700 dark:text-gray-300"
                >
                  Confirm New Password
                </label>
                <input
                  type="password"
                  id="confirmPassword"
                  th:field="*{confirmPassword}"
                  placeholder="Re-enter new password"
                  class="mt-1 block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                  required
                />
                <i
                  class="absolute top-9 right-3 text-gray-500 cursor-pointer fa-solid fa-eye"
                  onclick="togglePasswordVisibility('confirmPassword', this)"
                ></i>
                <p
                  th:if="${#fields.hasErrors('confirmPassword')}"
                  th:errors="*{confirmPassword}"
                  class="text-sm px-1 text-red-600 dark:text-red-500"
                ></p>
                <span
                  id="confirmPasswordError"
                  class="text-red-500 text-xs"
                ></span>
              </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="mt-8 flex justify-end">
              <button
                type="submit"
                id="subBtn"
                onclick="showLoadingIcon('subBtn')"
                class="text-white disabled:cursor-not-allowed bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
              >
                <i class="fa-solid fa-lock fa-bounce"></i>
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script th:src="@{/js/passwords.js}"></script>
  </body>
</html>
